@font-face {
    font-family: "defont";
    src: url(data/microsoft-yi-baiti-regular.ttf) format("truetype");
    font-weight: 700;
    color: var(--accent);
}
:root{
  --accent: #12f167;
  --bg: #05160c;
}
* {
  
  text-shadow: 0 0 5px #00ff00;
}
h1{
  font-family: "defont", sans-serif;
  font-size: 4em;
}

#accent {
    position: fixed;
    left: 0;
    top: 0;
    width: 2vw;
    height: 100vh;
    background: var(--accent);
    box-shadow: 0 0 5px #00ff00;
  }
  #databod {
    outline: 2px solid var(--accent);
    width: 500px;
    margin: 2px;
    margin-top:30px;
    h2{
      
      margin: 5px;
      padding-bottom: 5px;
      
    }
    h4{
      
      margin: 5px;
      padding-bottom: 5px;
    }
    p{
      font-size: 14pt;
      margin: 5px;
      padding-bottom: 5px;
      
    }
  }
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24
  }
  .arrow {
    border: solid var(--accent);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    background-color: inherit;
  }
  .backthing{
    outline: 2px solid var(--bg);
    width: 15px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: var(--bg);
    background-color: inherit;
    background-color: rgba(0,0,0, .3);
    word-break: break-all;
  }
  .backthingback{
    position: absolute;
    z-index: 1000;
    left: .55vw;
    top: 30px;
    
    cursor: pointer;
  }
  .backthingback:hover{
    
    box-shadow: 0 0 15px black;
    background-color: rgba(0,0,0, .1);
  }
  
  .back {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: absolute;
    left: 3vw;
    top: 38px;
    
    cursor: pointer;
  }
  .back:hover{
    border: solid yellow;
    border-width: 0 3px 3px 0;
  }

  .connectingline{
    position: absolute;
    left: 3vw;
    width: .5vw;
    
    border: solid white 2px;
    border-right: 0px;
  }

  .viewbutton{
    border-top: 2px solid var(--accent);
    background-color: inherit;
    color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  .viewbutton:hover
  {
    background-color: var(--accent);
    color: black;
  }

  body {
    font-family: "defont", sans-serif;
    background: linear-gradient(to top, #092d1b, #092d1b, #05160c, #05160c);
    background-size: cover;
    background-size: 100% 3px;
    background-attachment: fixed;
    margin-left: 4vw;
    color: var(--accent);
    /* font-size: 2vh; */
  }
  p{
    margin-left: 5px;
  }
#footah{
  position: fixed;
  bottom: 5px;
  left: 0;
  width: 100vw;
  height: 25px;
  display: inline-block;
  font-size: 8pt;
  text-align: right;
  p{
  padding-right: 15px;
  }
}
  .btn {
    font-family: "defont", sans-serif;
    border: var(--accent) solid 2px;
    background-color: inherit;
    color: var(--accent);
    padding: 7px 28px;
    margin-top: 8px;
    font-size: 14pt;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
  }
  .btn:hover {
    background: var(--accent);
    color: black;
    border: #092d1b solid 2px;
  }
  #maingrid {
    display: grid;
    grid-template-columns: fit-content(100vw) auto;
    grid-template-rows: auto auto;
  }
  ::-moz-selection { /* Code for Firefox */
    color: rgb(0, 0, 0);
    background: yellow;
  }
  
  ::selection {
    color: rgb(0, 0, 0);
    background: yellow;
  }